body {background-color: #ccc5c5;}

.MAINHREF {
    display: flex;
    justify-content: center;
}

.carousel-control-prev {
    border: 3px, black;
    width: 75px;
    display: flex;
    justify-content: left;
}

.carousel-control-next {
    border: 3px, black;
    width: 75px;
    display: flex;
    justify-content: left;
}
