body {background-color: #ccc5c5;}

.MAINHREF {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 10% ;
}

.carousel-control-prev-icon{
    width: 50px;
    height: 50px;
    margin-top: 400%;
    margin-right: 125px;
    display: flex;
    justify-content: left;
}

.carousel-control-next-icon{
    width: 50px;
    height: 50px;
    margin-top: 400%;
    margin-left: 125px;
    display: flex;
    justify-content: right;
}